body {
    background-color: #f9f9f9;
}

.container {
    box-shadow: 0 0 5px silver;
    background-color: white;
}

#main {
    border-left-color: lightgrey;
    border-left-style: dotted;
    border-left-width: 1px;
    border-right-color: lightgrey;
    border-right-style: dotted;
    border-right-width: 1px;
}

.nav {
    box-shadow: 0px 2px 20px black;
    opacity: 0.90
}

.parallax-window {
    min-height: 500px;
    background: transparent;
}

footer {
  opacity: 0.90;
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: lightgrey;

}

footer p {
    font-size: 10pt;
}

p {
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

.img-small {
  height: 30px;
  width: 30px;
}

li {
  color: #666666;
}

.vertical-line {
  border-right: 1px solid rgba(0,0,0,.1);
}
